.equipment-register-widget {
    position: relative;
    padding: 70px 0 20px 0;

    & > .uxp-widget-title-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }

    .er-content {
        width: 100%;
        height: 100%;

        & > .data-list-container {
            .data-list {
                .data-list-item {
                    & > .equipment-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 20px;

                        & > .id {
                            width: 20%;
                            flex-shrink: 0;
                        }
                        & > .name {
                            width: auto;
                            flex-shrink: 0;
                        }
                        & > .actions {
                            width: 20%;
                            min-width: 120px;
                            flex-shrink: 0;

                            & > .uxp-button {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.test-modules-modal {
    & > .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    & > .modal-panel {
        min-width: 40%;
        max-width: 40%;

        .modal-header {
            & > .header {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > .uxp-button {
                    margin: 0;
                }
            }
        }

        .modal-body {
            & > .data-list-container {
                .data-list {
                    .data-list-item {
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                        &:last-child {
                            border: none;
                        }

                        & > .test-model-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0px 20px;

                            & > .name,
                            & > .status,
                            & > .delete {
                                min-width: 100px;
                                flex-shrink: 0;
                            }

                            & > .name {
                                width: 70%;
                            }
                            & > .status,
                            & > .delete {
                                width: 15%;
                            }
                        }
                    }
                }
            }

            & > .add-test-model {
                width: 100%;
                height: 100%;

                .uxp-form-group {
                    & > .value {
                        padding: 15px;
                        border-radius: 10px;
                        background-color: #f0f0f0;
                    }
                }
                & > .row {
                    width: 100%;
                    height: auto;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    & > .uxp-button {
                        margin: 4px;
                    }
                }
            }
        }
    }
}

.equipment-test-output-widget {
    position: relative;
    padding: 70px 0 20px 0;

    & > .uxp-widget-title-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }

    .tow-content {
        width: 100%;
        height: 100%;

        & > .data-list-container {
            .data-list {
                .data-list-item {
                    & > .log-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 20px;

                        & > .e-id {
                            width: 15%;
                            flex-shrink: 0;
                        }
                        & > .t-id {
                            width: 25%;
                            flex-shrink: 0;
                        }
                        & > .msg {
                            width: 35%;
                            flex-shrink: 0;
                        }
                        & > .t-stamp {
                            width: 25%;
                            flex-shrink: 0;
                        }
                    }
                }
            }
        }
    }
}
